[user]
  email = parkersnell@gmail.com
  name = Parker Snell
[color]
  ui = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  symlinks = true
  autocrlf = input
  filemode = true
[pull]
  rebase = true
[credential]
  helper = manager
