[user]
	name = Parker Snell
	email = parkersnell@gmail.com
[color]
	ui = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	symlinks = true
